{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/about-me.css" %}"/>
{% endblock%}

{%block contents%}
<section id="container">
    <h2 id="about-title">About Me</h2>
    <div id="content">
      <img id="me" src=" {% static 'blog/images/woman-standing-with-a-computer-svgrepo-com.svg'%}" alt="author of the blog"/>
      <p>With a background in project finance and experience working in a prominent international bank, I have acquired a 
        plethora of transferable skills. These skills, combined with my passion for programming, position me to excel as a software 
        engineer. The unique skill set possessed by project finance bankers holds tremendous potential in driving success within the 
        realm of software engineering.</div>
      </p>
</section>
    
<section id='card' style="background-color: rgba(232, 254, 232, 0.6); "   >
    <img id="card-img" src="{% static 'blog/images/prob-solving.svg'%}" alt="author of the blog"/>
    <div class="card-content">
        <p><strong>Object Oriented Programming: </strong>
            <ul>
                <li>Proficient in Java, Python, PHP, and JavaScript programming languages for application development</li>
                <li>Strong understanding of object-oriented programming concepts, including inheritance, polymorphism, and encapsulation</li>
                <li>Experience in GUI design and event handling to create interactive user interfaces</li>
                <li>Knowledge of database programming and connectivity for integrating applications with databases</li>
                <li>Familiarity with file input/output operations and exception handling for efficient data manipulation</li>
                <li>Understanding of software development best practices and adherence to coding conventions</li>
                <li>Ability to write clean and maintainable code, following proper coding standards</li>
            </ul>
        </p>
    </div>
</section>


    <section id='card' style="background-color: rgba(232, 254, 232, 0.6); "   >
        <img id="card-img" src="{% static 'blog/images/prob-solving.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Web Development: </strong>
                <ul>
                    <li>Designing and developing dynamic web pages using JavaScript</li>
                    <li>Working with JavaScript front-end frameworks like React.js, Vue.js, and implementing URL routing</li>
                    <li>Building server-side applications using Java and frameworks such as Servlets/JSP, Spring MVC, and SpringBoot</li>
                    <li>Building backend applications using Django framework and integrating them with the frontend</li>
                    <li>Server-side scripting using PHP for handling forms, files, and associative arrays</li>
                    <li>Building and administering database-driven dynamic web content</li>
                    <li>Implementing secure transactions with databases and manipulating files and directories</li>
                    <li>Managing sessions and cookies for web applications</li>
                    <li>Building server-side applications using Node.js and Express framework, and connecting them to databases</li>
                    <li>Understanding and implementing asynchronous JavaScript concepts such as Promises, Fetch API, and Async-await</li>
                </ul>
            </p>
        </div>
    </section>

    <section id='card' style="background-color: rgba(232, 237, 254, 0.6);"> 
        <img id="card-img" src="{% static 'blog/images/teamwork.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Software Engineering Theory and Principles: </strong><br/>
                <ul>
                    <li>Understanding and applying software engineering principles, methodologies, and best practices</li>
                    <li>Proficient in object-oriented design and implementation of design patterns</li>
                    <li>Experience in requirements analysis and utilizing Unified Modeling Language (UML)</li>
                    <li>Implementing software quality assurance measures and utilizing metrics for code quality</li>
                    <li>Collaborating effectively in agile development teams and managing software projects</li>
                    <li>Utilizing version control systems for efficient code management</li>
                    <li>Implementing and integrating database frameworks for efficient data management</li>
                    <li>Knowledge of white-box and black-box testing techniques for comprehensive software testing</li>
                    <li>Applying Agile principles and practices, including Scrum framework, Kanban, and Extreme Programming (XP)</li>
                    <li>Understanding and applying cost prediction methods such as Lines of Code (LOC) and Function Points (FP)</li>
                    <li>Conducting risk analysis and implementing risk management strategies in software development projects</li>
                    <li>Experience in basis path testing for thorough test coverage and fault detection</li>
                </ul>
            </p>
        </div>
    </section>

    <section id='card' style="background-color: rgba(232, 254, 243, 0.6); ">
        <img id="card-img" src="{% static 'blog/images/proj.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Database Management Skills:</strong> <br/> 
                <ul>
                    <li>Comprehensive understanding of database concepts and database management systems (DBMS)</li>
                    <li>Proficient in data modeling, designing, and implementing relational database schemas</li>
                    <li>Expertise in creating, maintaining, and querying databases using SQL</li>
                    <li>Knowledgeable in indexing, query optimization, and transaction processing for efficient database operations</li>
                    <li>Ability to apply denormalization techniques and design star schemas for optimized data storage and retrieval</li>
                    <li>Hands-on experience with noSQL databases, such as MongoDB, and proficient in performing CRUD operations</li>
                    <li>Understanding of MapReduce functions for data analytics and distributed processing</li>
                    <li>Proficient in implementing and managing ACID (Atomicity, Consistency, Isolation, Durability) transactions</li>
                </ul>
            </p>
        </div>
    </section>

    <section id='card' style="background-color:  rgba(194, 193, 213, 0.5); "> 
        <img id="card-img" src="{% static 'blog/images/detail.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Data Analytics: </strong><br/>
                <ul>
                    <li>Foundations of Big Data Analytics and Data Mining Process</li>
                    <li>Requirement elicitation, hypothesis development, and data exploration</li>
                    <li>Understanding a technology stack for Data Analytics, considering the 4 V's of big data</li>
                    <li>Collect, wrangle, and transform data for further modeling</li>
                    <li>Explore data using statistics and visualizations</li>
                    <li>Creating interactive and visually appealing data visualizations using Tableau</li>
                    <li>Designing intuitive dashboards and reports for data analysis</li>
                    <li>Addressing data security, ethics, and privacy issues in Data Analytics</li>
                </ul>
            </p>
        </div>
    </section>



    <section id='card' style="background-color:  rgba(194, 193, 213, 0.5); "> 
        <img id="card-img" src="{% static 'blog/images/detail.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Machine Learning: </strong><br/>
                <ul>
                    <li>Good understanding of supervised and unsupervised learning algorithms</li>
                    <li>Proficient in using Python for machine learning tasks</li>
                    <li>Experience in model data using various machine learning algorithms</li>
                    <li>Proficient in performing hyperparameter tuning for optimizing machine learning models</li>
                    <li>Ability to evaluate model-based predictions and apply relevant evaluation techniques</li>
                    <li>Integration of machine learning and deep learning models into backend applications</li>
                    <li>Effective communication of machine learning model outputs to the frontend</li>
                </ul>
            </p>
        </div>
    </section>

    <section id="container">
    <div>
        <a href='www.linkedin.com/in/akiko-koyama'><img id='logo' src="{% static 'blog/images/LI-In-Bug.png'%}"/></a>
        <a href='https://github.com/AKoy-22'><img id='logo' src="{% static 'blog/images/github-mark-white.svg'%}"/></a>
    </div>
</section>
{%endblock%}