
body {
    /* background-image: url("./images/beach-with-sand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 2rem 8%; */
    background-color: white;
    }

#main-navigation {
      background-color:white;
    }

.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  padding: 0 8rem;
}

#content{
  text-align: justify;

}

#about-img-container img{
  width: 30rem;
  height:35rem;
}
#about-img-container{
  margin-bottom: 3rem;
}

.container p{
  font-family: 'Libre Baskerville', serif;
  color:#424e75;
  font-size: 1.3rem;
  text-align: justify;
}


.footer {
  width: 100%;
  margin: 0;
  text-align: center;
}
.footer img{
    width: 3rem;
    height: auto;
    margin: 0 1rem;
}

