body {
  background-color: white;
  }
  
  #main-navigation {
    background-color: white;
  }
  
  #summary {
    padding: 2rem; 
    width: 100%;
    max-width: 90rem;
    position: relative;
    height: 18rem;
  }
  
  #summary h2 {
    color:#424e75;
    font-size: 3.5rem;
  }
  
  #summary article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
  }
  
  #summary article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    margin-bottom: 1rem;
  }

  #summary address {
    font-weight: bold;
  }

  #gitlink{
    font-family: 'Raleway', serif;
    color: #5b72c0;
    text-decoration: none;
  }
  
  main {
    font-family: 'Libre Baskerville', serif;
    color: #424e75;
    width: 90%;
    max-width: 90rem;
    margin: 20px auto;
    background-color: #e6ebe9;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: justify;
  }

  main h2{
    margin:0 auto;
    font-family: 'Raleway', serif;
  }
  
  #tag {
    font-family: 'Raleway', serif;
    background-color: #e6ebe9;
    color:#390281;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  #image-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  #image-list li {
    flex-basis: 32%; /* Adjust the width as needed */
  }
  
  #image-list img {
    width: 100%;
    height: 100%;
    border-radius: 8px;

  }
  
  
  /******************* form *****************/

.form-control {
  color: #324851;
    margin: 5rem auto;
    width: 100%;
    /* max-width: 50rem; */
    padding: 1rem;
    /* border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26); */
}

button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    background-color: #324851;
    color: #EDEDED;
    border-style: none;
}

button:hover,
button:active{
  color: #EDEDED; 
    background-color:  #67A9A9;
    border-style: none;
}

 .form-control{
    margin-bottom: 1rem;
}

.form-control input{
    font:inherit;
    padding:0.25rem;
    border-radius: 4px;
    border: 1px solid #FA6775;
    display: block;
    width: 30rem;
}

.form-control input:focus{
    border-color: #EDEDED; 
    outline: none;
    background-color:#EDEDED; 
}

.form-control label{
    font-weight: bold;
    display: block;
}

.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color:#FA6775;
}

.errors input {
    border-color: #FA6775;
    background-color:#EDEDED; 
}

.errors label {
    color:#FA6775;
} 

.alert {
  margin: 8rem auto 3rem auto;
  max-width: 30rem;
  background-color:#EDEDED; 
  color: #FA6775;
  border: solid #FA6775;
}

#comments {
  margin: 5rem auto;
  width: 100%;
  padding: 2rem;
  list-style: none;
}

#comments li{
  border-bottom: 2px solid  #67A9A9
}

#comments li:last-of-type{
  border-bottom: none;
}

#comments h3{
  color:   #324851;
  margin-bottom: 0;
  padding: 0;
}

#read-later button{
    margin: 1rem 0 ;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    background-color:transparent;
    color: #EDEDED;
    border: 1.5px solid #EDEDED;
    font:inherit;
}

#read-later button:hover,
#read-later button:active {
  background-color:#FA6775;

}
