
#welcome {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
}
#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

#welcome div{
  margin: 0 auto;
}

#welcome img {
  width: 24em;
  height: 27rem;
}

#welcome h3 {
  color: #6A78A9;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin: 2rem auto;
  width: 100%;
  text-align: justify;
}

#welcome p {
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 5 rem auto;
  width: 100%;
  text-align: justify;
}

#latest-projects {
  background-color: rgba(155, 198, 187,0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem 8rem 0 8rem;
}

#project-title{
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.3rem;
  text-align: left;
}

#project-intro-p{
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.2rem;
  margin:0.6rem auto;
  width: 100%;
  text-align: justify;
}

#latest-projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer {
  width: 100%;
  height: 8rem;
  margin: 0;
  text-align: center;
}
#footer img{
    width: 3rem;
    height: auto;
    margin: 0 1rem;
}

