
#welcome {
  background-color: white;
}

.container {
  display: flex;
}
#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

#welcome div{
  padding: 1.5rem;
  margin: 0 auto;
}


#welcome img {
  width: 20rem;
  height: 23rem;
  padding: 0.5rem;
}

#welcome h3 {
  color: #6A78A9;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin: 2rem auto;
  width: 100%;
  text-align: justify;
}

#welcome p {
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 5 rem auto;
  width: 100%;
  text-align: justify;
}

#latest-posts {
  /* background-image: url("./images/grass.jpg"); */
  background-color: rgba(155, 198, 187,0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 2.5rem;
}

#project-title{
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.3rem;
  text-align: center;
}

#latest-posts__content{
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  margin: 1rem auto;
  width: 100%;
  text-align: justify;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
}

#footer {
  width: 100%;
  height: 8rem;
  margin: 0;
  text-align: center;
}
#footer img{
    width: 3rem;
    height: auto;
    margin: 3rem 1rem;
}

