body {
  background-color: white;
    }

#main-navigation {
      background-color:white;
    }

#about-title{
    font-family: 'Libre Baskerville', serif;
    color:  #424e75;
    margin: 0 1rem;
    display: inline;
}

#header-container{
  display: flex;
  align-items: flex-end;
  margin: 2rem auto;
}

.container {
    text-align: center;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 3rem;
}

.container p{
  font-family: 'Libre Baskerville', serif;
  color: #424e75;
  font-size: 1.3rem;
  text-align: justify;
}

#intro-container{
  display: flex;
  align-items: flex-end;
}

#skills-img{
  width: 35rem;
  height: 32rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer img {
  width: 3rem;
  height: auto;
  margin: 0 1rem;
}
