{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/about-me.css" %}"/>
{% endblock%}

{%block contents%}
<section class="container">
  
    <div id="content" >
      <p>After a successful banking career, I am now embarking on an exciting transition into software development. 
        With plethora of transferable skills, strong background in full-stack development and a deep understanding of machine learning,
        I bring a unique perspective and valuable skills to this new chapter. 
      </p>   
    </div>
      <div id="about-img-container"><img src="{% static 'blog/images/about.png'%}" alt="about image"/></div>
</section>
<section class="container">

    <h3 id="soft-skills"></h3>
    <ul>
        <li>
            <strong>Problem Solving Skills: </strong>Excelled as a Project Finance Banker, adeptly navigating complex multi-billion-dollar projects 
            and now applying the skills to tackle technical obstacles in software engineering.
        </li>
        <li>
            <strong>Analytical Mindset: </strong> Leveraged my Project Finance Banking background to bring a data-driven approach to software engineering, 
            optimizing performance, and delivering effective solutions.
        </li>
        <li>
            <strong>Interdisciplinary Collaboration: </strong>Cultivated strong interpersonal skills from engaging diverse stakeholders in project finance, 
            bridging gaps for seamless communication among teams.
        </li>
        <li>
            <strong>Project Management: </strong> Honed project management skills at global institutions, 
            ensuring efficient planning, execution, and timely delivery in software development projects.
        </li>
        <li><strong>Attention to Detail: </strong>Translated meticulous attention to detail from finance to software engineering, 
            effectively integrating components for cohesive applications.</li>

    </ul>
</section>

    
    {% comment %} <section id='card' style="background-color: rgba(255, 190, 195, 0.65); "   >
        <img id="card-img" src="{% static 'blog/images/prob-solving.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p>         
                As an experienced Project Finance Banker overseeing multi-billion-dollar projects, I excel in navigating complex challenges. 
                Transitioning to software engineering, my critical and innovative mindset tackles technical obstacles, driving efficient and 
                effective development.
            </p>
        </div>
    </section>

    <section id='card'  style="background-color:rgba(254, 232, 232, 0.6)">
        <img id="card-img" src="{% static 'blog/images/analytical.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Analytical Mindset:</strong> <br/> 
                My strong analytical mindset, cultivated as a Project Finance Banker, enriches software engineering. I systematically tackle complexity, 
                make data-driven decisions and optimize performance. Effective communication with stakeholders and translating their needs into well-designed 
                solutions further contributes to delivering robust and efficient software solutions that guarantee success.
            </p>
        </div>
    </section>

    <section id='card' style="background-color: rgba(232, 237, 254, 0.6);"> 
        <img id="card-img" src="{% static 'blog/images/teamwork.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Interdisciplinary Perspective: </strong><br/> 
                Engaging diverse stakeholders in project finance cultivates strong interpersonal skills and the ability to navigate differing 
                perspectives. In software engineering, these skills are essential for effective communication and collaboration within 
                multidisciplinary teams. Leveraging my background, I bridge gaps between departments and foster seamless communication among 
                software engineers, designers, and project managers
            </p>
        </div>
    </section>

    <section id='card' style="background-color: rgba(232, 254, 243, 0.6); ">
        <img id="card-img" src="{% static 'blog/images/proj.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Project Management Skills:</strong> <br/> 
                Well-versed in project management methodologies with a background in project finance banking at a prominent global institution. I have honed my project management skills to excel in the 
                realm of software engineering. Utilizing strong organization, task prioritization, and a results-driven mindset, I contribute to the triumph 
                of software development projects by ensuring efficient planning, execution, and monitoring, ultimately guaranteeing timely delivery.
            </p>
        </div>
    </section>

    <section id='card' style="background-color:  rgba(200, 254, 255, 0.5); "> 
        <img id="card-img" src="{% static 'blog/images/detail.svg'%}" alt="author of the blog"/>
        <div class="card-content">
            <p><strong>Attention to Detail: </strong><br/> In both project finance and software engineering, meticulous attention to detail is 
                essential for ensuring smooth integration and functionality. The analytical and harmonization skills of project 
                finance bankers can be applied to software development, enabling effective integration of modules, classes, and 
                components to create a cohesive application</p>
        </div>
    </section> {% endcomment %}

    <section id="footer">
    <div>
        <a href='https://linkedin.com/in/akiko-koyama'><img id='logo' src="{% static 'blog/images/LI-In-Bug.png'%}"/></a>
        <a href='https://github.com/AKoy-22'><img id='logo' src="{% static 'blog/images/github-mark.svg'%}"/></a>
    </div>
</section>
{%endblock%}