{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
{% endblock%}

{%block contents%}
<section id="all-posts">
    <h2>My Projects</h2>
    <section id="intro">
        <p>Motivated by a relentless pursuit of growth, I've delivered projects that seamlessly weave machine learning models 
            into my applications. With expertise in frameworks like Spring Boot, React, Vue, and Django, I've honed my software 
            engineering and data analysis skills.  </p>
        <img id="tool" src="{% static 'blog/images/hand.png'%}" alt="hand holding tool">    
    </section>
    <ul>
        {% for p in object_list %}
            {% include  "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="container">
    <div>
        <a href='https://linkedin.com/in/akiko-koyama'><img id='logo' src="{% static 'blog/images/LI-In-Bug.png'%}"/></a>   
        <a href='https://github.com/AKoy-22'><img id='logo' src="{% static 'blog/images/github-mark.svg'%}"/></a>
    </div>
</section>
{%endblock%}

