{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
{% endblock%}

{%block contents%}
<section id="all-posts">

    <p id="intro">Driven by a passion for continuous growth, I have successfully completed projects utilizing frameworks such as Spring Boot, React, Vue and Django. These projects have provided me with hands-on experience in software engineering, where I have developed robust applications that leverage the power of modern technologies.</p>
    <h3>Please click on each project to see further information. </h3>
    <ul>
        {% for p in object_list %}
            {% include  "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
{%endblock%}