{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
{% endblock%}

{% block contents %}


    <section id="welcome">
        <header>
            <img  src="{% static 'blog/images/woman-standing-with-a-computer-svgrepo-com.svg'%}" alt="author of the blog"/>
            <h2> My Portfolio</h2>
        </header>
        <p>
            Hi, my name is Akiko. <br/> <br/> With a successful banking career in prestigious financial centers like London, 
            Tokyo, and Sydney, I am now embarking on an exciting transition into computer science and software development.
             Drawing from my experience as a project finance banker, I bring a unique perspective and valuable skills to 
             this new chapter.
        </p>    
        <p> In project finance, I mastered intricate aspects such as finance structuring, agreements, negotiations, compliance, 
            and more. I discovered that the key to success lies in harmonizing these diverse elements into a seamless whole. 
            Interestingly, this resonates with software engineering, where modules, classes, backend, frontend, and databases 
            intertwine to create functional applications.
        </p>
        <p>
            Through my transition, my goal is to make a broader impact and contribute to positive change on a larger scale !
            Thank you for visiting, and I look forward to discussing how we can collaborate to create a more impactful and 
            technologically advanced future together.
        </p>
    </section>

    <section id="latest-posts">
        <h2>Some of My Latest Projects</h2>
        <ul>
            {% for p in object_list  %}
                {% include  "blog/includes/post.html" %}  <!--p and posts is accessible in post.html as well -->
            {% endfor %}
             
        </ul>
    </section>

    <section id="about">
        <h2>About myself</h2>
        <p>
            I am embarking on an exciting transition into the dynamic field of computer science and software development following a successful career in the banking industry. 
        </p>
    </section>


{%endblock%}