{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
    My Portfolio 
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/my-skills.css" %}"/>
{% endblock%}

{%block contents%}
<section class="container">
   <header id="header-container">
        {% comment %} <img id="me" src=" {% static 'blog/images/woman-notebook.svg'%}" alt="author of the blog"/> {% endcomment %}
        <h2 id="about-title">My Skills</h2>
   </header>
    <div id="intro-container">
      <p>
        Motivated by a strong passion for learning, I've completed a two-year Computing Studies and Information Systems diploma at 
        Douglas College. In addition to my academic journey, I've actively developed my skills on platforms like Udemy, LinkedIn Learning, 
        and DataCamp. This proactive approach has yielded a 3.86 GPA, Dean's list recognition in 2023, and prestigious awards like the 
        International Student Scholarship. <br/><br/>These experiences have equipped me with diverse technical proficiencies spanning 
        Object-Oriented Programming in Java, Python, PHP, and JavaScript, along with adeptness in web development using React.js, 
        Vue.js, Spring MVC, SpringBoot, Django, and Node.js. My solid foundation in software engineering, comprehensive database 
        management skills, robust data analytics capabilities, and a solid understanding of machine learning principles collectively 
        position me to excel across various technology domains.
     </p>
        <img id="skills-img" src="{% static 'blog/images/skills.png'%}" alt="hands holding skills bubble">
    </div>
</section>
<div class="footer">
    <a href='https://linkedin.com/in/akiko-koyama'><img  src="{% static 'blog/images/LI-In-Bug.png'%}"/></a>
    <a href='https://github.com/AKoy-22'><img  src="{% static 'blog/images/github-mark.svg'%}"/></a>
</div>

{%endblock%}