{% extends "base.html" %}  <!-- do to settings.py and add to TEMPLATES DIRS: BASE_DIR/ "templates"-->
{% load static%}

{% block title %}
   {{post.title}}
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock%}

{%block contents%}

{% if comment_form.errors %}
<div class="alert"> 
    Comment not submitted. Please fix the form.
    <a href="#form">Fix</a>
</div>
{% endif %}

<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for t in post.tag.all %}
            <span id="tag">{{t.caption}}</span>
        {% endfor%}
    </div>
    {% comment %} {% if not has_read_later %}
        <div id="read-later">
            <form action="{% url 'read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <button>Read Later</button>
            </form>
        </div>
    {% endif %} {% endcomment %}

        
    {% comment %} <article>
        <img src="{{post.image.url}}" alt="post.title">
        <address>By <a href="mailto:{{post.author.email_address}}">{{post.author |title }}</a></address> <!--title filter from django will capitalize the first letter-->
        <div>
            Last updated on <time>{{post.date|date:"d M Y"}}</time>
        </div>
    </article> {% endcomment %}
</section>
<main>
    <h2>About this Project</h2>
    <p>{{post.content|linebreaks}}</p>  <!--linebreaks will be preserved from the dummy content-->

    <a id="gitlink" href="https://github.com/AKoy-22/Algebraic_Expression"> Github link to the project repository</a>
</main>

<main>
    <h2>Images: </h2>
    <section >
        <ul id='image-list'> 
            <li><img src="{{post.image1.url}}" alt="app image"></li>
            <li><img src="{{post.image2.url}}" alt="app image"></li>
            <li><img src="{{post.image3.url}}" alt="app image"></li>
        </ul>
    </section>

</main>


{% comment %} <div id="form">

    <form class="form-control" action="{% url 'post-detail-page' post.slug %}" method="POST">
        {% csrf_token %}    
        <h2>Your Comment: </h2>
        {% for form_field in comment_form %}
            <div>
                {{form_field.label_tag}}
                {{form_field}}
                {{form_field.errors}}
            </div>
        {% endfor %}
        
        <button>Submit</button>
    </form>
</div>
 
{% if comments %}
    <div>
    
        <ul id="comments">
            {% for i in comments %}
                <h3>{{i.user_name}}</h3>
                <li>{{i.user_comment |linebreaks}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %} {% endcomment %}
{% endblock %}