{% extends 'base.html' %}
{% load static%}


{% block title %}My Stored Posts{% endblock title %}
{% block css_files%}
<link rel="stylesheet" href="{% static "blog/stored-posts.css" %}"/>
{% endblock%}

{% block contents %}

    <section id="read-later">
        {% if not has_posts %}
        <p>You didn't save any posts for read later.</p>
        {% endif %}
        <ul> 
            {% for  i in posts %}
                <li>
                    <a href="{% url 'post-detail-page' i.slug %}">{{i.title}}</a> 
      
                        <form action="{% url 'read-later' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{i.id}}" name="remove_id">
                            <button>Remove</button>
                        </form>
                </li>
                
            {% endfor %} 
        </ul>
    </section>

{% endblock contents %}
