* {
  box-sizing: border-box;
}

html {

  font-family: 'Libre Baskerville', serif;
}

body {
  margin: 0;
}


h2{
  font-size: 2rem;
}
#main-navigation {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

#main-navigation a {
  text-decoration: none;
  color:#6A78A9;
  font-weight: bold;
  padding-left: 1rem;
  font-size: 1.5rem;
}

#main-navigation nav {
  display: inline;
  padding: 1rem;
}
#main-navigation a:hover,
#main-navigation a:active {
  color: #f88e6d;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: #f88e6d;
}