@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {

  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
h2{
  font-size: 2.5rem;
}
#main-navigation {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10%; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  margin-top: 0;
}

#main-navigation a {
  text-decoration: none;
  color:#6A78A9;
  font-weight: bold;
  padding-left: 1rem;
}

#main-navigation nav {
 
  display: inline;
  padding: 1rem;
}
#main-navigation a:hover,
#main-navigation a:active {
  color: #F98866;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: #F98866;
}